.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-left: 3vw;
 color: white;
 height: auto;
}

.movie-title {
 text-align: center;
}

.movie-poster {
  height: 50vh;
}

.card:hover {
  cursor:pointer;
  box-shadow: 0 0.5em 0.5em -0.4em rgba(255,255,255, 1);  ;
  transform: translateY(-0.25em);
}
