.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-left: 3vw;
 color: white;
 height: 50vh;
}

.movie-title {
 /* Some sort of styling */
}

.movie-poster {
  height: 50vh;
}

.card:hover {
  cursor:pointer;
}