.all-movies-container {
  height: 80vh;
  width: 94vw;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-right: 1vw;
  align-items: center;
}

.swiper-button-prev {
  color: white; 
}

.swiper-button-next {
  color: white; 
}